@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

.body-bg {
    background-color: #131A26;
    /* background-image: url('glow.svg'); */
}
body{
    color:#fff;
}
.bg-test {
    background-color: #122c55;
}
.container {
    max-width: 1080px;
}
.section-spacing {
    padding: 20px 10px;
}
.home-hero-glow {
    top: 90%;
    left: 55%;
    width: 200%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
}
.events-none {
    pointer-events: none;
}
.logo {
    height: 40px;
}
.bg-transparent {
    background-color: transparent;
}
.aj-navbar {
    background-color: #030c1cd9;
    backdrop-filter: blur(10px);
}
.navbar-nav {
    margin-left: auto;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
    font-size: 14px;
    font-family: Lato;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color:#0160f1;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#0160f1;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: #0160f1;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.hero-section {
    margin-top: 30px;
    margin-bottom: 50px;
}
.header-section {
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 80px;
    /* margin-bottom: 50px; */
    background-image: linear-gradient(45deg, #00000080, #00000080),url("assets/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.h1 {
    font-family:Montserrat;
}
p {
    line-height: 30px;
    font-weight: 300;
    font-family: 'Lato';
    font-size: 16px;
}
/*footer*/
.footer {
    background-color: #000000;
    padding: 40px 0;
}
.text-1 {
    color: #909090;
} 
.text-2 {
    color: #fff;
    font-size: 22px;
} 
.text-3 {
    color: #909090;
}
.footer-profile-link {
    color: #0160f1;
    padding: 0 5px;
    text-decoration: none;
    font-weight: 500;
}
.footer-profile-link:hover {
    color: #0160f1;
}
.hand {
    font-size: 26px;
    padding-right: 10px;
}
.wave {
    animation-name:wave-animation;
    animation-duration:2.5s;
    animation-iteration-count:infinite;
    transform-origin:70% 70%;
    display:inline-block
}
@keyframes wave-animation {
    0%{transform:rotate(0.0deg)}
    10%{transform:rotate(14.0deg)}
    20%{transform:rotate(-8.0deg)}
    30%{transform:rotate(14.0deg)}
    40%{transform:rotate(-4.0deg)}
    50%{transform:rotate(10.0deg)}
    60%{transform:rotate(0.0deg)}
    100%{transform:rotate(0.0deg)}
}



.btn-aj {
    background-image: linear-gradient(335deg,#5310af 0%,#0160f1 100%)!important;
    color: #ffffff!important;
    padding: 7px 20px !important;
    border-radius: 3px;
    font-size: 14px;
    border: none;
}
.btn-aj:focus {
    box-shadow: none;
}
.main-heading {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
    color: #FFFFFF!important;
}
.header-description {
    padding-left: 70px;
    padding-right: 70px;
}
.dp {
    display: table;
}
.dp a {
    vertical-align: middle;
    display: table-cell;
}
.dp img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 50%;
}
.hero-section-bg {
    background-color: #061327e8;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.blur {
    backdrop-filter: blur(10px);
    border: solid 1px #ffffff0f; 
    padding: 20px;
    border-radius: 3px;
}
.project-section{
    padding: 40px 0px;
}
.project-preview {
    width: 100%;
    border-radius: 5px;
}
.project-title {
    padding-top: 20px;
    padding-bottom: 5px;
}
.project-title a {
    text-decoration: none;
    color: #fff;
}
.project-subtitle {
    font-size: 14px;
    color: #666666;
}
.project-subtitle .h6 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.project-row-spacing {
    padding: 30px 0;
}

/*contact page*/
.contact-links {
    text-align: center;
}
.contact-mail {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
    transition-duration: .2s;
}
.contact-mail-icon {
    font-size: 50px;
    margin-bottom: 40px;
    transition-duration: .2s;
}
.contact-mail a {
    color: #fff;
    text-decoration: none;
    
}
.contact-mail:hover {
    transition-duration: .2s;
    transform: scale(1.1);
}
.contact-number {
    font-size: 30px;
    margin-bottom: 40px;
}
.contact-linkedin {
    font-size: 20px;
}
.linkedin-link {
    color: #fff;
    padding: 0 5px;
    text-decoration: none;
    font-weight: 500;
    border-bottom: solid 2px #0a5dee;
    transition-duration: .2s;
}


/*profile*/
.personal-info a {
    text-decoration: none;
    color:#fff;
    transition-duration: .2s;
}
.center-wrapper {
    padding: 30px;
    border: 1px solid #0160F1;
    text-align: center;
    margin-top: -10px;
}
.count {
    font-size: 60px;
    font-weight: 800;
}
.count-description {
    margin:0;
}


  /* // Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) { 
    .footer {
        background-color: #000000;
        padding: 10px 0;
    }
    .text-1 {
        color: #666666;
        margin-bottom: 0;
    } 
    .text-2 {
        color: #fff;
        font-size: 14px;
        margin-bottom: 0;
    } 
    .text-3 {
        padding: 0 10px;
        font-size: 14px;
    }
    .header-section {
        padding-top: 80px;
    }
    .project-section {
        padding: 0 20px;
    }
    .header-section {
        padding-top: 100px;
        padding-bottom: 20px;
        background-image: linear-gradient(45deg, rgba(-7, 0, 0, .5), rgba(0,0,0, 0.5)),url("assets/header-bg.jpg");
    }
    .header-description {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-mail {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .contact-number {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .contact-linkedin {
        font-size: 15px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .project-section {
        padding: 0 20px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 991px) { 
    .project-section {
        padding: 0px 30px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .project-section {
        padding: 40px 0px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .project-section {
        padding: 40px 0px;
    }
 }