    
    * {
        font-family: Inter, Inter Placeholder, sans-serif;
    }
    body {
      min-height: 100vh;
      /* Background settings */
      background: url('https://framerusercontent.com/images/9LUxMAuAtuo2krnn9d5TOYFxk2o.svg') no-repeat center center fixed;
      background-size: cover;
      background-color: #fafbfe;
    }
    /* .navbar-brand.logo {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0px;
    background: blue;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    padding-top: 12px;
} */
.logo-dp {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
}
    .nav-link .fa-solid {
      margin-right: 6px;
    }
    .navbar {
        background-color: #ffffff00;
    }
    .intro-dp {
        border: solid 5px #fff;
        border-radius: 150px;
        flex: none;
        width: 150px;
        height: 150px;
        position: relative;
        pointer-events: none !important;
        user-select: none !important;
        box-shadow: 20px 30px 70px #2765a840;
    }
    .nav-item {
    padding: 0 10px;
    font-size: 20px;
}
.intro-text {
    color:#000000;
}


.folder {
    user-select: none !important;
    position: relative;
}
.folder-hover {
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.folder-default {
    width: 130px;
}
.folder-default .folder-hover {
    position: absolute;
    transition: opacity 0.3s;
}
.folder-hover {
    display: none;
    opacity: 0;
    pointer-events: none;
    /* margin-top: -231px; */
}
.folder:hover .folder-hover {
  opacity: 1;
  display: block;
}
.folder:hover .folder-default {
  opacity: 0;
  display: none;
}
.folder-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.blink {
  animation: blink .8s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
a {
    text-decoration: none;
    color:#000000;
}
.centered-div {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 0;
}
.page-head {
    font-size: 26px;
    font-weight: 600;
}
i {
  font-size: 26px;
}
.hobby-project-heading {
    color: #757575;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    transition: color 0.2s;

}
.hobby-projects:hover .hobby-project-heading {
    color: #000000;
    transition: color 0.2s;
}
.hobby-project-description {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
}
.footer {
    padding: 50px 0;
    background-color: #fff;
    border-top: solid 1px #00000012;
}
.footer .sub {
    font-size: 22px;
}
.footer-links {
    font-size: 18px;
    padding-right: 20px;
    color: #757575;
}
.footer-links:hover {

    color: #000;
}
.footer-img {
    border: solid 5px #f2f2f2;
    border-bottom: 0px;
    border-radius: 60px 60px 0 0px;
    flex: none;
    width: 120px;
    height: 120px;
    position: relative;
    pointer-events: none !important;
    user-select: none !important;
    box-shadow: 0px 60px 23px -40px #9b1e122e;
    margin-bottom: 20px;
}
